<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/ex.styles.css">
    <title>homepage</title>
</head>
<body>

    <div class="nav">
        <ul>   
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/series">Game Series</a></li>
            <li><a href="/photogallery">Gallery</a></li>
        </ul>
    </div>

    <div class="headtexthome">
        <h1>ADVENTURES OF ORI</h1>
        <p>Ori and the Blind Forest is a platform-adventure Metroidvania video game developed by Moon Studios and published by Microsoft Studios. The game was released for Windows and Xbox One in March 2015, and for Nintendo Switch in September 2019. Players assume control of Ori, a small white spirit, and Sein, the "light and eyes" of the Forest's Spirit Tree. Players are tasked to move between platforms and solve puzzles. The game features a save system called "Soul Links", which allows players to save their progress at will with limited resources, and an upgrade system that allows players to strengthen Ori's skills and abilities.

            The game was developed by Moon Studios, a collective organization without a set location. The distribution rights to the game were acquired by Microsoft a year after the beginning of the game's development. The game story was inspired by The Lion King and The Iron Giant, while some of the gameplay elements were inspired by the Rayman and Metroid franchises.
            
            Upon release, the game received critical acclaim, with players praising the gameplay, art direction, story, action sequences, musical score, and environmental design. The game was also dubbed as one of the titles that represented art in video games. Moon Studios co-founder Gennadiy Korol said the game was profitable for the company within a few weeks after its initial launch. An expansion, called the Definitive Edition, was released in March 2016. A direct sequel, Ori and the Will of the Wisps, was announced during Electronic Entertainment Expo 2017 and was released on March 11, 2020.</p>
    </div>

</body>
</html>