<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/ex.styles.css">
    <title>gallery</title>
</head>
<body>

    <div class="nav">
        <ul>   
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/series">Game Series</a></li>
            <li><a href="/photogallery">Gallery</a></li>

        </ul>
    </div>

    <div class="header">
        <h1></h1>
    </div>

    <div class="picgallery">
        <img src="/images/Ori_DARK.jpg">
        <img src="/images/Ori_ICE.jpg">
        <img src="/images/OriSaveroom.png">
        <img src="/images/ORIwillof.jpg">
    </div>
    <div class="vid">

        <iframe width="560" height="315" src="https://www.youtube.com/embed/cklw-Yu3moE?si=0IvNnDUn33z8DtRZ" id="firstgame"
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


        <iframe width="560" height="315" 
        src="https://www.youtube.com/embed/2kPSl2vyu2Y?si=PuI1YdsOUL2HTARS" id="secondgame"
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </div>
</body>
</html>