<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/ex.styles.css">
    <title>series</title>
</head>
<body>

    <div class="nav">
        <ul>   
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/series">Game Series</a></li>
            <li><a href="/photogallery">Gallery</a></li>
        </ul>
    </div>
    <div class="seriesheader">
    <h1>Series of Moon Studio</h1>
    <p>
        Ori the Collection brings two award-winning games, Ori and the Blind Forest Definitive Edition and Ori and the Will of the Wisps, onto one cartridge for the first time.  
    </p>
    </div>
    <div class="gamepics">
       <img src="/images/oricombo-1038x576.jpg">
       <p><a href="https://www.xbox.com/en-US/games/store/ori-the-collection/9P5MBBFF3RNT">Xbox store</p></a>
    </div>
        
</body>
</html>