* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(51, 195, 205, 0.671)
}


.nav {
    background-color: rgba(22, 20, 20, 0.671);
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: end;
    list-style-type: none;
    gap: 2rem;
    padding: 0 1rem;
    
}

.nav a {
    color: inherit;
    font-size: 25px;
}

.header {
    display: none;
}